Setup

In [1]:
import pandas as pd

In [2]:
from sqlalchemy.sql import text

In [3]:
from sqlalchemy import create_engine

In [4]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [5]:
dbConnection    = engine.connect()

In [6]:
taxi_df=pd.read_sql_table("yellow_taxi_data", con=engine, schema='public', 
                          parse_dates=['tpep_pickup_datetime', 'tpep_dropoff_datetime']
                         )
taxi_df.head(1)

,index,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,0,1.0,2021-01-01 00:30:10,2021-01-01 00:36:12,1.0,2.1,1.0,N,142,43,2.0,8.0,3.0,0.5,0.0,0.0,0.3,11.8,2.5

In [7]:
zones_df=pd.read_sql_table("zones", con=engine, schema='public')
zones_df.head(1)

   index  LocationID Borough            Zone service_zone
0      0           1     EWR  Newark Airport          EWR

**How many taxi trips were there on January 15?**

Using df:

In [8]:
taxi_df[(taxi_df.tpep_pickup_datetime.dt.month == 1) & (taxi_df.tpep_pickup_datetime.dt.day == 15)].shape[0]

53024

Using SQL:

`select count(1) from  public.yellow_taxi_data where EXTRACT(MONTH FROM tpep_pickup_datetime)='01' AND EXTRACT(DAY FROM tpep_pickup_datetime)='15'`

 **Largest tip for each day** 
 
 Using df:

In [9]:
max_tip_row_idx=taxi_df[taxi_df.tpep_pickup_datetime.dt.month == 1]['tip_amount'].idxmax()

In [10]:
taxi_df.iloc[max_tip_row_idx].tpep_pickup_datetime

Timestamp('2021-01-20 11:22:05')

SQL: `select max(tip_amount) as max_tip, tpep_pickup_datetime::date as dy 
from public.yellow_taxi_data 
where EXTRACT(MONTH FROM tpep_pickup_datetime)='01'
group by tpep_pickup_datetime::date 
order by max(tip_amount) desc limit 1`

**Most popular destination**

Using df:

In [11]:
central_park_id=zones_df[zones_df.Zone == 'Central Park'].iloc[0].LocationID
central_park_id

43

In [12]:
popular_jan14_id=taxi_df[(taxi_df.tpep_pickup_datetime.dt.month == 1) 
                             & (taxi_df.tpep_pickup_datetime.dt.day == 14)
                            & (taxi_df.PULocationID == central_park_id)
                        ].groupby(['DOLocationID'])['DOLocationID'].count().idxmax();

popular_jan14_id

237

In [13]:
zones_df[zones_df.LocationID == popular_jan14_id].iloc[0].Zone

'Upper East Side South'

SQL:

`select "Zone" from public.zones where "LocationID" = (select  "DOLocationID" from  public.yellow_taxi_data 
where EXTRACT(MONTH FROM tpep_pickup_datetime)='01' AND EXTRACT(DAY FROM tpep_pickup_datetime)='14' AND "PULocationID" = 43
GROUP BY "DOLocationID"
ORDER BY count(*) DESC
LIMIT 1);`

 **Most expensive route** 
 
 Using df:

In [14]:
expensive_route=taxi_df.groupby(['PULocationID','DOLocationID'])\
.agg({'total_amount':'mean'})\
.sort_values(['total_amount'], ascending=False).reset_index().iloc[0]

expensive_route

PULocationID       4.0
DOLocationID     265.0
total_amount    2292.4
Name: 0, dtype: float64

In [15]:
zones_df[zones_df.LocationID == expensive_route.PULocationID].iloc[0]

index                       3
LocationID                  4
Borough             Manhattan
Zone            Alphabet City
service_zone      Yellow Zone
Name: 3, dtype: object

In [16]:
zones_df[zones_df.LocationID == expensive_route.DOLocationID].iloc[0]

index               264
LocationID          265
Borough         Unknown
Zone               None
service_zone       None
Name: 264, dtype: object